web/static/images/sunset-wave.jpg filter=lfs diff=lfs merge=lfs -text
web/static/images/sunset-wave-scaled.jpg filter=lfs diff=lfs merge=lfs -text
web/static/images/P6080442-Pano.jpg filter=lfs diff=lfs merge=lfs -text
