@import "deps";

.hero.has-bg-img {
  margin-bottom: 2em;
  position: relative;
  overflow: hidden;

  .bg-image {
    background-position: center;
    background-size:cover;
    overflow: hidden;
    //background: #000;
    //background: darken($primary, 30%);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(3px);
    margin: -3px;
    //transform: translateZ(-1px) scale(1.5);
    background-attachment: fixed;

    &::before {
      content: ' ';
      opacity: 0.5;
      background: darken($primary, 30%);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .hero-body {
    z-index: 10;
  }

  .title, .subtitle {
    color: #fefefe;
  }
}

@include widescreen {
  .blog-content {

    display: grid;
    grid-template-columns: 3fr 9fr;

    nav.navbar.is-fixed-top {
      position: unset;
      background-color: #333;
    }

    footer {
      grid-column: 1 / 3;
    }
  }
}

.blog-content main {
  //max-width: 800px;
  //margin-left: auto;
}