@import "deps";

.landingpage-social {
  padding-left: mydip(16);

  a {
    display: inline-block;
    width: mydip(30);
    height: mydip(30);
    padding-top: mydip(4);
    //padding-bottom: mydip(16);
    margin-right: mydip(16);

    img {
      object-fit: contain;
    }

    &:hover {
      filter: brightness(0.5);
    }
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(252, 252, 252, 0.98);
  box-shadow: 0 1px 2px 0 rgba(73,73,73,0.13);
  z-index: 1;

  .container {
    @include grid-row(1024px);
  }
/*
  .navbar-menu {
    @include grid-col(4/12);
    //@include shift(4);

    padding-right: mydip(16);
    text-align: right;

    a {
      // WELCOME:
      font-size: 26px;
      color: #97C965;
      letter-spacing: 0;
      font-weight: normal;
      text-transform: uppercase;
      padding-top: mydip(16);
      padding-bottom: mydip(16);
      display: inline-block;
    }
    a::before {
      border-left: 1px solid #ccc;
      content: ' ';
      margin-left: mydip(8);
      margin-right: mydip(8);
    }
    a:first-child::before {
      border-left: none;
    }
  }
*/
}
