$imageBaseDir: '../../images';
$base-font-size: 1em;

//$widescreen: 1024;
$navbar-breakpoint: 10px;

$color-gray-bgcolor: #FDFDFD;
$color-green: #97C965;
$color-green-lighter: #F4F9F0;
$color-orange: #E29B4A;
// lighter orange color, used for background colors.
$color-orange-lighter: #F5EDE4;
$color-ux: $color-green;

